*, *::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
html {
    // This defines what 1 rem is.
    font-size:72.5%;
}
body {
    box-sizing: border-box;
}

.card {
    box-shadow: 0rem .1rem .1rem rgba(black,.5);
    &:hover{
        box-shadow: 0rem .1rem .1rem rgba(black,.2);
    }
    .delete-icon{
        visibility: hidden;
    }
}